<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit place</title>
</head>
<body>
<html th:include="_header"/>
<h1 class="uk-text-uppercase uk-text-light uk-margin-left uk-position-center-left" style="color: cadetblue">Edit hotel</h1>
<div style="margin-left: 50%; margin-top: 3%; margin-right: 3%; margin-bottom: 3%">
    <form th:if="${incorrectId == null && incorrectField==null}" th:action="@{edit}" th:object="${placeForm}"
          enctype="multipart/form-data" method="post">
        <input type="hidden" name="id" th:value="${place.id}"/>
        <input type="hidden" name="nameOfEditableField" th:value="${nameOfEditableField}"/>
        <div class="uk-margin">
            <p style="color: coral">Leave the field blank if you don't want to change it</p>
            <div th:if="${nameOfEditableField.equals('name')}"  class="uk-inline">
                <label> Name : <input class="uk-input" type="text" th:field="*{name}" th:placeholder="${place.name}"/></label>
            </div>
            <div th:unless="${nameOfEditableField.equals('name')}">
                <p th:text="'Name: '+${place.name}"></p>
            </div>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: coral">
        </div>

        <div class="uk-margin">
            <div th:if="${nameOfEditableField.equals('address')}" class="uk-inline">
                <label> Address : <input class="uk-input" type="text" th:field="*{address}" th:placeholder="${place.address}"/></label>
            </div>
            <div th:unless="${nameOfEditableField.equals('address')}">
                <p th:text="'Address: '+${place.address}')'"></p>
            </div>
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: coral">
        </div>


        <div class="uk-margin">
            <div th:if="${nameOfEditableField.equals('workTime')}" class="uk-inline">
                <label> WorkTime : <input class="uk-input" type="text" th:field="*{workTime}" th:placeholder="${place.workTime}"/></label>
            </div>
            <div th:unless="${nameOfEditableField.equals('workTime')}">
                <p th:text="'WorkTime: '+${place.workTime}')'"></p>
            </div>
            <p th:if="${#fields.hasErrors('workTime')}" th:errors="*{workTime}" style="color: coral">
        </div>

        <div class="uk-margin">
            <div th:if="${nameOfEditableField.equals('tableCount')}" class="uk-inline">
                <label> TableCount : <input class="uk-input" type="text" th:field="*{tableCount}" th:placeholder="${place.tableCount}"/></label>
            </div>
            <div th:unless="${nameOfEditableField.equals('tableCount')}">
                <p th:text="'TableCount: '+${place.tableCount}')'"></p>
            </div>
            <p th:if="${#fields.hasErrors('tableCount')}" th:errors="*{tableCount}" style="color: coral">
        </div>

        <div th:if="${nameOfEditableField.equals('description')}" class="uk-margin">
            <p>Description: </p>
            <textarea class="uk-textarea" rows="5" th:field="*{description}" th:placeholder="${place.description}"></textarea>
        </div >
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: coral"></p>
        <div th:unless="${nameOfEditableField.equals('description')}">
            <p th:text="'Description: '+${place.description}"></p>
        </div>

<div th:if="${incorrectId!=null}" class="uk-alert-danger uk-container-xsmall uk-position-large uk-position-bottom-center"
     uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <span th:text="${incorrectId}"></span>
</div>

<div th:if="${doesPlaceNameExist}" class="uk-alert-danger uk-container-xsmall uk-position-large uk-position-bottom-left"
     uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <span>Place with the same name already exists</span>
</div>
</body>
</html>