<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<html th:include="_header"/>
<div style="margin-left: 2%; margin-top: 2%; margin-right: 1%; margin-bottom: 1%" class="uk-card uk-card-default">
    <div class="uk-position-large uk-position-center-center">
        <h1 class="uk-heading-bullet uk-margin-top uk-margin-left uk-text-uppercase" style="color: lightblue">Welcome!</h1>
    </div>
</div>
</body>
</html>